.login{
    height: 100vh;
    background-image:linear-gradient(#0000007e, #0000007e), url('background_banner.jpg');
    padding: 20px 8%;
}
.login-logo{
    width: 150px;
}
.login-form{
    max-width: 450px;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    margin: auto;
    padding: 60px;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    background: #333;
    height: 50px;
    color: white;
    margin: 12px 0;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-family: 500;
}
.login-form button{
    padding: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}
.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    color: gray;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 15px;
    height: 15px;
}
.form-change{
    margin-top: 40px;
    color: #737373;
}
.form-change span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}