.player{
    position: relative;
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player img{
    position: absolute;
    top: 5%;
    left: 5%;
}

.player iframe{
    width: 80%;
    height: 80%;
    border: none;
    position: absolute;
    top: 10%;
    left: 10%;
}

.poster{
    width: 80%;
    height: 80%;
    border: none;
    position: absolute;
    top: 10%;
    left: 10%;
}

.player-info{
    position: absolute;
    bottom: 1%;
    left: 5%;
    display: flex;
    padding: 12px;
    justify-content: space-around;
    width: 100%;
}