.titlecards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.titlecards h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    min-width: 240px;
    height: 300px;
    border-radius: 4px;
    cursor: pointer;
}
.card-list .card{
    position: relative;
}
.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}